.App {
  text-align: center;
  background-color: #393E46;
  font-family: "Ubuntu";
  font-size: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.search {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #282c34;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.registerButton{
  border-radius: 15%;
  outline-width: 1px;
  outline-color: gray;
  background-color: #222831;
  color: #00ADB5;
}

.welcometext{
  font-size: 60px;
  color: white;
}

.post_list{
  background-color: gray;
}

.footer{
  background-color: #222831;
  text-align: center;
  color: #00ADB5;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.btn{
  background-color: #222831;
  color: white;
}

.row{
  color: #222831;
}

.form-content{
  background-color: #222831;
  width: 90%;
  color: #00ADB5;
  align-content: center;
}

/*div{
  border: 1px solid black;
}*/

.center{
  margin-left: 16%;
  
}

p,label{
  color: #EEEEEE;
}

.ql-toolbar .ql-stroke {
  fill: none;
  stroke: #EEEEEE;
}

.ql-toolbar .ql-fill {
  fill: #EEEEEE;
  stroke: none;
}

.ql-toolbar .ql-picker {
  color: #EEEEEE;
}

.ql-snow .ql-picker-options{
  background-color: #222831;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  background-color: #222831;
}

/*.gridR{
  border-right:1px solid black;
}*/
