html{
  height: 100%;
}
body {
  min-height: 100%;
  background: #222831;
  background: -webkit-linear-gradient(to bottom, #222831 8%,#00ADB5 );
  background: linear-gradient(to bottom, #222831 8%, #00ADB5 ); 
}

.box-shadow {
  box-shadow: rgba(17, 17, 26, 0.1) 2px 15px 29px,
    rgba(17, 17, 26, 0.1) 2px 25px 56px, rgba(17, 17, 26, 0.1) 2px 29px 80px;
}

.loginbutton {
  background-color: #222831;
  height: 39px;
  width: 100%;
  border-radius: 5px;
  color: #00adb5;
}

.loginbutton:hover {
  color: #eeeeee;
}
.buttondiv {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 40px;
}

/*div{
        border: 1px solid black;
      }*/
.gridR {
  background-color: #222831;
}



#post{
  word-wrap: break-word
}

.postImgdiv{
  text-align: center;
  padding-bottom: 40px;
  margin-left: 10%;
  margin-right: 10%;
}
.postTitle{
  color: #EEEEEE;
  font-size: 350%;
  padding-bottom: 60px;
  margin-left: 10%;
  margin-right: 10%;
}
.postLongdesc{
  padding-bottom: 40px;
  margin-left: 10%;
  margin-right: 10%;
}
.posth2{
  color: #EEEEEE;
  font-size: 250%;
  padding-bottom: 20px; 
  margin-left: 10%;
  margin-right: 10%;
}

.profAvatar{
  text-align: center;
}

.dec{
  background-color: #393E46;
}

.welcomehead{
  height: 300px;
  margin: 0;
  background: linear-gradient(0.8turn, #222831 40%, #00ADB5);
  background: -webkit-linear-gradient(0.8turn, #222831 40%, #00ADB5);
}
.welcomeh1{
  color: #00ADB5;
  font-size: 70px;
  font-family: monospace;
  margin-left: 150px;
}

.welcomeh2{
  margin-top: 50px;
  color: #00ADB5;
  font-size: 70px;
  font-family: monospace;
  margin-left: 150px;
}


.welcomebutton{
  margin-left: 150px;
  color: #00ADB5;
  background-color: #393E46;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  margin-top: 20px;
}

.welcomep, .welcomep2{
  color: #393E46;
  font-size: 40px;
  font-family: cursive;
  margin-left: 1400px;
}
.welcomep2{
  margin-top: 0px;
}


.ttddiv{
  height: 300px;
  background: linear-gradient(-0.8turn, #222831 40%, #00ADB5);
  background: -webkit-linear-gradient(-0.8turn, #222831 40%, #00ADB5);
}

.welcomegrid{
  margin-top: 90px;
}

.welcomegrid3{
text-align: center;
font-size: 20px;
}

.weicon{
  height: 40px;
  width: 40px;
  color: #00ADB5;
  margin-bottom: 10px;
}

.weicon2{
  height: 30px;
  width: 30px;
  color: #00ADB5;
  margin-bottom: 10px;
}

.switch{
  align-items: center;
  justify-content: center;
  text-align: center;
}

.switchgrid{
  justify-content: center;
  /*position: fixed;*/
  
}

.iconbutton{
  color: white;
}

.comment{
  background-color: #EEEEEE;
  width:80%;
  text-align: center;
}

.search-btn{
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  width: auto;
}

.search-btn:hover {
  transform: translateY(-1px);
}

.select{
  text-align: center;
  margin: 10%;
}