html{
  height: 100%;
}
body {
  min-height: 100%;
  background: #222831;
  background: -webkit-linear-gradient(to bottom, #222831 8%,#00ADB5 );
  background: linear-gradient(to bottom, #222831 8%, #00ADB5 ); 
}

.box-shadow {
  box-shadow: rgba(17, 17, 26, 0.1) 2px 15px 29px,
    rgba(17, 17, 26, 0.1) 2px 25px 56px, rgba(17, 17, 26, 0.1) 2px 29px 80px;
}

.loginbutton {
  background-color: #222831;
  height: 39px;
  width: 100%;
  border-radius: 5px;
  color: #00adb5;
}

.loginbutton:hover {
  color: #eeeeee;
}
.buttondiv {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 40px;
}

/*div{
        border: 1px solid black;
      }*/
.gridR {
  background-color: #222831;
}

#post{
  word-wrap: break-word
}

.postImgdiv{
  text-align: center;
  padding-bottom: 40px;
  margin-left: 10%;
  margin-right: 10%;
}
.postTitle{
  color: #EEEEEE;
  font-size: 350%;
  padding-bottom: 60px;
  margin-left: 10%;
  margin-right: 10%;
}
.postLongdesc{
  padding-bottom: 40px;
  margin-left: 10%;
  margin-right: 10%;
}
.posth2{
  color: #EEEEEE;
  font-size: 250%;
  padding-bottom: 20px; 
  margin-left: 10%;
  margin-right: 10%;
}
